/* Agrega el siguiente código en el archivo styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body.light-mode {
    background-color: #f0f0f0;
    color: #333;
  }
  
  body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
  }
  
  .theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  #theme-toggle-btn {
    background-color: #333;
    color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #theme-toggle-btn:hover {
    background-color: #444;
  }

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: left 0.5s;
  }
  
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .menu-toggle span {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
  }
  
  .menu-options {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.2);
  }
  
  .menu-options li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .menu-options a {
    color: #fff;
    text-decoration: none;
  }
  
  .menu-options a:hover {
    color: #ccc;
  }
  
  .menu-toggle:hover + .menu-options {
    display: block;
  }
  
  .menu-open {
    left: 0;
  }
  
  .menu-visible {
    display: block;
  }
  
  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #000000;
    border: 1px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input[type="number"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-group select {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .calculate-btn {
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .calculate-btn:hover {
    background-color: #444;
  }
  
  .result-section {
    margin-top: 20px;
  }
  
  .result-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .result-section p {
    margin-bottom: 10px;
  }
  
  .hidden {
    display: none;
  }
  
  .light-mode {
    background-color: #f9f9f9;
  }
  
  .dark-mode {
    background-color: #333;
  }
  
  .dark-mode .container {
    background-color: #444;
    color: #fff;
  }
  
  .dark-mode .menu {
    background-color: #444;
  }
  
  .dark-mode .menu-toggle span {
    background-color: #fff;
  }
  
  .dark-mode .menu-options {
    background-color: #444;
  }
  
  .dark-mode .menu-options a {
    color: #fff;
  }
  
  .dark-mode .menu-options a:hover {
    color: #ccc;
  }
  
  .dark-mode .input-group input[type="number"] {
    background-color: #555;
    color: #fff;
  }
  
  .dark-mode .input-group select {
    background-color: #555;
    color: #fff;
  }
  
  .dark-mode .calculate-btn {
    background-color: #555;
    color: #fff;
  }
  
  .dark-mode .result-section {
    color: #fff;
  }

  /* Agrega el siguiente código en el archivo styles.css */
.fitia-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .fitia-link img {
    width: 5px;
    height: 5px;
    margin: 0 auto;

  }
  
  .fitia-link p {
    margin-top: 10px;
  }

/*IMC

/* Agrega el siguiente código en el archivo styles.css */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: left 0.5s;
  }
  
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .menu-toggle span {
    width:  20px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
  }
  
  .menu-options {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .menu-options li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .menu-options a {
    color: #fff;
    text-decoration: none;
  }
  
  .menu-options a:hover {
    color: #ccc;
  }
  
  .menu-toggle:hover + .menu-options {
    display: block;
  }
  
  .menu-open {
    left: 0;
  }
  
  .menu-visible {
    display: block;
  }
  
  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  td {
    background-color: #fff;
  }
  
  .light-mode {
    background-color: #f9f9f9;
  }
  
  .dark-mode {
    background-color: #333;
  }
  
  .dark-mode .container {
    background-color: #444;
    color: #fff;
  }
  
  .dark-mode .menu {
    background-color: #444;
  }
  
  .dark-mode .menu-toggle span {
    background-color: #fff;
  }
  
  .dark-mode .menu-options {
    background-color: #444;
  }
  
  .dark-mode .menu-options a {
    color: #fff;
  }
  
  .dark-mode .menu-options a:hover {
    color: #ccc;
  }
